
.container-card{
    box-shadow: 2px 2px 2px 2px;
    gap: 1rem;
    padding: 5px;
    margin: 5px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}